[project]
name = "anti"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "polars>=1.35.2",
    "ruff>=0.14.8",
    "torch>=2.9.1",
]
